@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html, 
body {
	width: 100%;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 50px 0;
  align-items: flex-end;
}

.header__logo {
  width: 403px;
  height: 93px;
  background-image: url(./img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  color: #3687C4;
  text-align: center;
  font-size: 41px;
}

.header__logo-link {
  position: relative;
  top: 18px;
  text-decoration: none;
}

.header__logo-link:visited {
  color: inherit;
}

.header__contacts {
  display: flex;
  position: relative;
  font-size: 36px;
  color: #6D6E71;
}

.header__contacts-item {
  padding: 0 10px;
  border-right: 1px solid #6D6E71;
}

.header__contacts-item:last-child {
  border-right: none;
}

.header__contacts i {
  padding: 10px;
}

.header__contact-text {
  position: absolute;
  display: none;
}

.menu {
  color: #6D6E71;
  border-top: 1px solid #ECEEF4;
}

.menu__nav {
  display: flex;
  list-style-type: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.menu__nav-link {
  text-decoration: none;
  font-weight: bold;
}

.menu__nav-item {
  border-right: 1px solid #ECEEF4;
  padding: 35px 25px;
}

.menu__nav-item:last-child {
  border-right: none;
}

.menu__nav-link:visited {
  color: inherit;
}

.fa-search {
  font-size: 26px;
  padding-right: 10px;
}

.menu__search-field {
  font-size: 15px;
  border: none;
  outline: none;
}

.main {
  height: 885px;
  background-image: url(./img/iback.png);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
}

.main__header {
  position: relative;
}

.main__header-text1 {
  position: absolute;
  top: 250px;
  left: 200px;
  font-size: 55px;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 2px black;
  z-index: 10;
}

.main__header-text2 {
  position: absolute;
  top: 245px;
  left: 210px;
  font-size: 110px;
  color: #BBEDFF;
  font-weight: bold;
}

.main__header-text3 {
  position: absolute;
  top: 320px;
  left: 300px;
  letter-spacing: 2px;
  font-size: 42px;
  color: #FFFFFF;
  font-weight: 300;
  text-shadow: 0 0 2px black;
}


