.table {
  font-family: Helvetica, sans-serif;
}

.table__head {
  text-transform: uppercase;
  color: #7586ab;
  background: #e3eaf3;
  padding: 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

.table__row {
  color: #4c637b;
  font-size: 14px;
}

.table__cell {
  padding: 17px;
}
